doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel="stylesheet", type="text/css", href="styles/main.css")
    title Thomas Tuts - Resumé
  body
    aside
      img(src=basics.picture, alt=basics.name)
      h1= basics.name
      h2= basics.label
      ul.contact-info
        li #{basics.location.city}, #{basics.location.countryCode}
        li #{basics.phone}
        li #{basics.email}
        li #{basics.website}
      ul.social
        each profile in basics.profiles
          li
          a(href=profile.url, target="_blank")= profile.network
    main
      section
        h3 About me
        p= basics.summary
      section
        h3 Work experience
        each job in work
          h4=job.company
          .date-range #{job.startDate} - #{job.endDate}
          if job.highlights
            ul.highlights
              each highlight in job.highlights
                li= highlight
      section
        h3 Skills
        ul.skills
          each skill in skills
            li
              h4= skill.name
              ul.keywords
                each keyword in skill.keywords
                  li= keyword
      section
        h3 Education
        each course in education
          h4 #{course.area}, #{course.institution}
          .date-range #{course.startDate} - #{course.endDate}
      section
        h3 Awards
        each award in awards
          h4 #{award.title}, #{award.awarder}
          .date-range #{award.date}
      section
        h3 Volunteer work
        each job in volunteer
          h4 #{job.position}, #{job.organization}
          .date-range #{job.startDate} - #{job.endDate}
      section
        h3 Publications
        each publication in publications
          h4 #{publication.name}, #{publication.publisher}
          .date-range #{publication.releaseDate}
          if publication.summary
            p= publication.summary
